@use 'sass:math';

$container: math.div(1309, 2);
$containerMin: math.div(572, 2);
$containerMin2: math.div(1125, 2);
$containerMin3: math.div(1066, 2);
$containerMin4: math.div(618, 2);

:root {
	--title-font: 'KyivType Sans', sans-serif;
	--main-font: 'KyivType Sans', sans-serif;
	--decor-font: 'Mateur';
	
	--accent: #F97C60;
	--accent-dark: #E15B3D;
	--accent-dark-2: #be462a;
	--accent-light: #FFF3F2;
	--accent-light-2: #ffe8e6;
	--accent-light-3: #ffd4d1;

	--white: #FFF;
	--black: #000;
	--black-2: #1A1A1A;
	--text: #333;
	--dark-gray: #555555;
	--light-gray: #C9C9C9;
	--light-green: #A0E2B8;
	--green-hover: #afecc6;
	--green-active: #4bb98d;
	--dark-blue: #1A3764;
	--dark-blue-2: #043565;
	--dark-blue-gradient: linear-gradient(90deg, #082744 0%, #043565 53.12%, #082744 100%);
	--dark-blue-gradient-2: linear-gradient(90deg, #082744 0%, #022446 53.12%, #082744 100%);
	--dark: #383838;
	--dark-2: #4A4A4A;
	--light: #DEDEDE;
	--light-2: #EAEAEA;

	--container-padding: 20px;
}

@font-face {
	@include font-include('KyivType Sans', 400, swap, normal, 'KyivTypeSans-Regular');
}

@font-face {
	@include font-include('KyivType Sans', 300, swap, normal, 'KyivTypeSans-Light');
}

@font-face {
	@include font-include('KyivType Sans', 500, swap, normal, 'KyivTypeSans-Medium');
}

@font-face {
	@include font-include('KyivType Sans', 700, swap, normal, 'KyivTypeSans-Bold');
}

@font-face {
	@include font-include('Mateur', 500, swap, normal, 'Mateur');
}
