.faq {

	padding-bottom: 111px;
	@include _768 {
		padding-bottom: 121px;
	}
	
	@include _992 {
		padding-bottom: 131px; 
	}

	// .faq__body

	&__body {
		max-width: 782px;
		margin-left: auto; margin-right: auto;
		margin-top: 11px; 
		padding: 32px 16px;
		@include _768 {
			padding: 47px 57px;
		}
		@include _992 {
			margin-top: 30px;
		}
		background: #FFFFFF;
		border-radius: 8px;
	}

	// .faq__title

	&__title {
	}

	// .faq__list

	&__list {
		padding-top: 27px;

		display: flex;
		flex-direction: column;
	}

	// .faq__item

	&__item {

		padding: 12px 0;
		&:not(:first-child) {
			border-top: 1px solid var(--light-gray);
		}

		//cursor: pointer;

		&._hide-placeholder &--placeholder {
			opacity: 0; visibility: hidden;
		}

		&._active &--content {
			display: block;
		}

		/* &._animating &--placeholder {
			opacity: 0; visibility: hidden;
		} */

		// .faq__item--body

		&--body {
			position: relative;
			display: grid;
			overflow: hidden;
			& > * {
				grid-area: 1/1;
			}
			&::before {
				content: '';
				position: absolute;
				left: 0; top: 9px;
				width: 3px; height: calc(100% - 16px);
				transition: height .5s ease-in-out;
				background: var(--accent);
				z-index: 3;
			}
		}

		/* &._active &--body::before {
			height: calc(100% - 9px);
		} */

		// .faq__item--placeholder

		&--placeholder {
			padding-left: 22px;
			transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
		}

		// .faq__item--content

		&--content {
			display: none;
			overflow: hidden;
			transition-duration: .5s;
			transition-timing-function: ease-in-out;
			padding-left: 22px;
			
			z-index: 2;

			& h3 {
				font-weight: 700;
				font-size: 1.5rem;
				line-height: 100%;
				color: var(--black-2);
			}
			& p {
				padding-top: 9px;
				color: var(--dark-gray);
			}
		}
	}
}
