.volunteer {

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

	padding-top: 69px; padding-bottom: 56px;

	clip-path: polygon(42% 3%, 100% 0, 100% 100%, 0 100%, 0 0);

	@include _768 {
		flex-direction: row;
		padding-top: 76px; padding-bottom: 70px;
		clip-path: polygon(0% 0%, 21% 6%, 46% 0%, 69% 4%, 87% 0%, 100% 6%, 100% 99%, 84% 97%, 66% 100%, 44% 93%, 25% 96%, 12% 93%, 0% 95%);
	}
	
	@include _992 {
		padding-top: 86px; padding-bottom: 103px;	
	}

	background: var(--white);
	
	// .volunteer__info

	&__info {

		flex: 0 1 59.7%;
		padding-right: 20px;
		@include _992 {
			padding-right: 94px;
		}

		// .volunteer__info--text

		&--text {
			color: var(--dark-2);
		}

		// .volunteer__info--person

		&--person {
			padding-top: 26px;

			display: grid;
			grid-template-columns: 60px auto;

			color: #000;

			& b {
				grid-column: 2; grid-row: 1;
				font-weight: 500;
			}

			& span {
				grid-column: 2; grid-row: 2;
				color: var(--dark-2);
			}
		}

		// .volunteer__info--person-avatar

		&--person-avatar {
			width: 48px; height: 48px;
			grid-row: 1/3;
			& img {
				width: 100%; height: 100%;
				object-fit: cover;
				border-radius: 50%;
			}
		}
	}

	// .volunteer__image

	&__image {
		width: 100%;
		margin-top: 56px;
		@include _768 {
			width: auto;
			margin-top: 0;
			flex: 0 1 40.3%;
		}
		position: relative;
		
		&--figure {
			& picture {
				display: block;
				width: 100%; position: relative;
				padding-top: 86.353468%;
			}

			& figcaption {
				margin-top: 25px; padding-top: 15px;
				opacity: .7;
				position: relative;
				font-size: 0.75rem;
				line-height: 100%;
				&::before {
					content: '';
					position: absolute;
					left: 0; top: 0;
					width: 60px; height: 1px;
					background: var(--accent);
				}
			}

			& img {
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;
				object-fit: cover;
			}
		}

		&--decor {
			position: absolute;
			right: 0; bottom: 0;
			width: 50%; height: auto; padding-top: 42.028986%;
			object-fit: contain;
			transform: translate(25%,-10%);
			user-select: none; pointer-events: none;
		}
		
	}
}
