.our-projects-intro {

	padding-bottom: 75px;
	@include _768 {
		padding-bottom: 100px;
	}
	
	@include _992 {
		padding-bottom: 150px;
	}

	// .our-projects-intro__bg

	&__bg {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		z-index: -1;
		background: var(--white);
		pointer-events: none; user-select: none;

		&--image {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			& img {
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;
				object-fit: cover; object-position: bottom;
			}
		}

		&--decor {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
		}

		&--min-decor {
			display: none;
			@include _992 {
				display: block;
				position: absolute;
				right: calc(50% - #{$container}px); bottom: 0;
				width: 165px; height: auto;
				transform: translate(0,-40%);
			}
		}
	}

	// .our-projects-intro__title

	&__title {
		display: inline-block;
		position: relative;
		padding-bottom: 20px;
		& svg {
			position: absolute;
			left: 0; bottom: 0;
			width: 100%; height: auto;
		}
	}

	// .our-projects-intro__text

	&__text {
		padding-top: 10px;
		line-height: 150%;
		max-width: 661px;
		font-weight: 300;
		color: var(--black-2);
	}
}
