.main-intro {

	&__wrapper {
		padding-top: 75px;
		@include _992 {
			position: relative;
		}
	}

	// .main-intro__bg

	&__bg {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		z-index: -1;
		background: var(--dark-blue-2);
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			left: 50%; bottom: 0;
			transform: translate(-50%,57%);
			opacity: .7;
			@include _992 {
				transform: translate(-50%,73%);
				opacity: 1;
			}
			filter: blur(20px);
			width: 400%; aspect-ratio: 1/0.5;
			border-radius: 50%;
			background: radial-gradient(circle, rgba(140,229,181,1) 24%, rgba(255,255,255,0) 44%);
		}
	}

	// .main-intro__content

	&__content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		@include _992 {
			grid-template-columns: 45% auto auto 175px;
			padding: 0 20px 0 40px;
		}
		& > * {
			align-self: center;
		}

		max-width: 1193px;
		margin: 0 auto;
		
		
		position: relative;
		z-index: 2;
	}

	// .main-intro__title

	&__title {
		color: var(--white);
		padding-top: 33px;
		grid-column: 1/3;
		@include _992 {
			grid-column: 1;
		}
	}

	// .main-intro__text

	&__text {
		margin-top: 27px;
		& p {
			opacity: .7;
		}
		color: var(--white);
		grid-column: 1/3;
		max-width: 85%;
		//opacity: 0.7;
		@include _992 {
			grid-row: 2;
			max-width: 100%;
			grid-column: 1;
		}
	}

	// .main-intro__link

	&__link-block {
		margin-top: 12px;
		@include _992 {
			margin-top: 32px;
			grid-row: 3;
		}
	}

	&__link {

		font-weight: 500;
		line-height: 118.75%;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: var(--white);
		transition: color .2s ease-in-out;
		
		& svg {
			stroke: var(--white);
			margin-left: 8px;

			transition: stroke .2s ease-in-out;
		}
		&:hover {
			color: var(--accent);
			& svg {
				stroke: var(--accent)
			}
		}
		
		&:active {
			color: var(--accent-dark);
			& svg {
				stroke: var(--accent-dark)
			}
		}
	}

	// .main-intro__logo

	@keyframes round {
		to {
			transform: rotate(360deg);
		}
	}

	&__logo-block {
		margin-top: 10px;
		justify-self: end;
		@include _992 {
			grid-column: 4;
			margin-top: 0;
		}
	}

	&__logo {
		width: 69px; height: 69px;
		
		@include _992 {
			width: 123px; height: 123px;
		}

		display: grid;
		transition: transform .2s ease;
		& > * {
			grid-area: 1/1;
			justify-self: center; align-self: center;
		}
		& svg {
			width: 100%; height: 100%;
			animation: round 30s linear 0s infinite normal forwards;
			& path {
				fill: none;
			}
		}
		& svg textPath {
			font-size: 6px;
			text-transform: uppercase;
			fill: var(--white);
			font-family: var(--main-font);
		}
		& img {
			width: 40px; height: 40px;
			margin-right: 2px; margin-bottom: 2px;
			@include _992 {
				width: 70px; height: 70px;
				//margin-right: 0; margin-bottom: 0;
			}
		}

		&:hover {
			transform: scale(1.1);
		}
	}

	// .main-intro__accent-btn

	&__accent-btn-block {
		grid-column: 1/3;
		margin-top: 16px;
		@media (min-width: 500px) {
			justify-self: center;
		}
		@include _992 {
			grid-column: 3; grid-row: 1;
			justify-self: end;
			margin-top: 0;
		}
	}

	&__accent-btn {

		width: 100%;
		@include _500 {
			width: auto;
		}
		position: relative;

		display: inline-flex;
		justify-content: center;
		align-items: center;

		font-weight: 500;
		text-transform: uppercase;
		line-height: 121.875%;

		padding: 23px 40px;

		color: var(--white);
		transition: color .2s ease-in-out;

		&:hover {
			color: var(--accent);
		}

		&:hover &--icon {
			fill: var(--accent);
		}
		
		&:active {
			color: var(--accent-dark)
		}

		&:active &--icon {
			fill: var(--accent-dark)
		}

		// .main-intro__accent-btn--bg

		&--bg {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			fill: none; stroke: var(--accent);
		}

		// .main-intro__accent-btn--icon

		&--icon {
			margin-left: 8px;
			fill: var(--white);
			transition: fill .2s ease-in-out;
		}
	}

	// .main-intro__image

	&__image {
		position: relative;
		width: 100%; padding-top: 108%;
		
		margin-top: 50px;
		@include _992 {
			width: 100%;
			padding-top: 55.25%;
			margin-top: -103px;
		}
		& img {
			position: absolute;
			left: -20px; top: 0;
			width: calc(100% + 40px); height: 100%;
			@include _992 {
				left: 0; width: 100%;
			}
			object-fit: cover; object-position: top;
			
		}
		
	}

	&__gallery {
		opacity: 0; visibility: hidden;
		transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
		overflow: hidden;
		margin: 0 20px;
		&._active {
			opacity: 1; visibility: visible;
		}

		&--decor {
			position: absolute;
			left: 20px; bottom: 0px;
			z-index: 2;

			user-select: none; pointer-events: none;

			width: calc(100% - 40px);

			&-wrapper {
				width: 100%;
				position: relative; padding-top: 108%;
				@include _992 {
					padding-top: 55.25%;
				}
			}
		
			margin-left: -0px; margin-right: -0px;
			margin-top: 0px; margin-bottom: -0px;
			@include _992 {
				left: 0;
				width: 100%;
				margin-top: -103px;
				margin-left: 0; margin-right: 0;
				margin-bottom: 0;
			}
			& img {
				position: absolute;
				left: -20px; top: 0;
				object-fit: cover; object-position: top;
				width: calc(100% + 40px); height: 100%;
				@include _992 {
					left: 0;
					width: 100%;
				}
			}
		}
		&--slider {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;

			user-select: none; pointer-events: none;
		}

		&--wrapper {
			
		}

		&--slide {
			position: relative;
			& img {
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;
				object-fit: cover;
			}
		}
	}
}
